
/* Parte donde se decalaran las variables*/
:root {

--radio-tarjetas: 15px;
--color-azul-oscuro: #0d477a;
--color-gris: #b6c8d7;
--color-gris-fuerte: gray;
--color-rojo: red;
--color-verde: green;
--color-naranja: orange;

}

* {
  font-family: sans-serif;
}

*, *::before, *::after {
box-sizing: border-box;
}

h2 {
  color: var(--color-azul-oscuro);
}

.contenedor {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  border: 1px solid #dbe5ed;
  border-radius: var(--radio-tarjetas);
  overflow: hidden; /* Para lograr el efecto de las esquinas redondeadas junto a los hijos */
}

.parte-izquierda {
  flex: 1;
  text-align: left;
  background-color: #eaf4fb;
  padding: 20px;
}

.datos-personales {
  font-size: 16px;
}

.datos-personales-desglose {
  margin-bottom: 10px;
}

.datos-personales-desglose h3 {
  color: var(--color-gris-fuerte);
  font-size: 15px;
  margin: 0px;
}

.datos-personales-desglose p {
  font-size: 14px;
  margin: 0px;
}


.parte-derecha {
  flex: 3;
  text-align: left;
}

.avatar img {
  width: 100%;
  border-radius: var(--radio-tarjetas);
  display: block;
}


.parte-arriba-derecha .presentacion {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.5)),
    /* linear-gradient(c1, c2, c3, o1) el ultimo valor, el "o1" es la opacidad del elemento*/
    url(../images/mountain.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  padding: 40px 60px;
}

.parte-arriba-derecha .descripcion {
  background-color: var(--color-azul-oscuro);
  padding: 1px;
}

.bloque1 > p {
  color: #1972b9;
  font-weight: bold;
}

.bloque2 > p {
  font-size: 70px;
  color: #1972b9;
  margin: 0;
}

.bloque2 > p > strong {
  color: var(--color-azul-oscuro);
}

.bloque3 > p {
  font-weight: bold;
  color: #34566e;
}

.bloque4 {
  display: flex;
  color: var(--color-azul-oscuro);
}

.descripcion-t1 {
  color: var(--color-gris);
}

.descripcion-t2 {
  color: white;
  font-size: 27px;
}

.descripcion {
  display: flex;
}

.descripcion-izquierda {
  margin: 50px 50px 50px 50px;
  flex: 1;
}

.descripcion-derecha {
  color: #e7edf2;
  margin: 50px;
  flex: 1;
}

.experiencia-profesional,
.formacion-y-entrenamiento {
  margin-left: 50px;
  margin-top: 50px;
}

.horizontal {
  border: none;
  border-bottom: 1.5px solid #dce5ed;
}

.experiencia-profesional-desglose {
  border-left: 2px solid #cfe0eb;
  padding-left: 20px;
}

.exp > h3 {
  color:var(--color-azul-oscuro);
  margin-bottom: 0px;
}

.exp > h4 {
  color: #667789;
  margin-top: 5px;
  font-size: 14px;
}

.exp > ul {
  color: #526474;
  margin-top: -5px;
}

.formacion-y-entrenamiento-display {
  display: flex;
  gap: 10px;
}

.bloque-formacion {
  border: 1px solid #dbe5ed;
  border-radius: 5%;
  background-color: #fbfdfe;
  flex: 1;
}

.logros-tecnicas {
  display: flex;
  margin-left: 50px;
  gap: 40px;
}

.logros-destacados,
.tecnicas-y-transformaciones {
  flex: 1;
}

.tecnicas-y-transformaciones-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px
}

.tecnicas-y-transformaciones-desglose {
  border: 1px solid #bdd0de;
  border-radius: 50px;
  font-weight: bold;
  color: var(--color-azul-oscuro);
  padding: 6px 16px;
}

.tecnicas-y-transformaciones-desglose p {
  margin: 0;
}

.entrenamientos-destacados {
  margin-left: 50px;
}

.lista-logros li {
  margin-bottom: 12px;
  margin-left: -25px;
  font-size: 19px;
}

.tabla-resultados {
  display: flex;
  border: 2px solid #dce5ed;
  border-radius: var(--radio-tarjetas);
  overflow: hidden;
}

.tabla {
  width: 100%;
  flex: auto;
  border-collapse: collapse;
}

.tabla th, 
.tabla td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid;
}

.tabla th {
  background-color: #dce5ed;
  color: #667790
}

.tabla tr:last-child td {
  border-bottom: none;
}
.parte-abajo-derecha {
  padding: 40px 50px;
}

.derrota {
color: var(--color-rojo);
}

.victoria {
color: var(--color-verde);
}

.decisivo {
color: var(--color-naranja);
}

@media (max-width: 768px) {
  /*pantallas pequeñas*/
  .contenedor {
    background-color: red;
    display: flex;
  }
}
